.heading-icon-head{
    /* font-size: 100px; */
    width:70px;
    height: 80px;
}
.heading-icon-head > img{
    /* color: ; */
    color: rgba(136,27,28,1) !important;
    fill: rgba(136,27,28,1) !important;
}
.heading-icon{
    margin-left: 48%;
    width:50px;
    height: 70px;
}
.heading-icon-css{
    /* text-align: center; */
    /* color: ; */
    color: rgba(136,27,28,1) !important;
    fill: rgba(136,27,28,1) !important;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
   
}
.testimonials>h1{
    font-family: cursive;
    font-weight: bold;
    color: #A55C1B;
}
.testimonials>p{
    font-size: 20px;
}
.testimonials-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:#ECEAE0;
    border: 1px solid #A55C1B;
    padding: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.testimonials-col img{
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    float: left;
}
.testimonials-col p{
    padding: 0;
    text-align: justify;
    color: #05386B;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: center;
    color: #A55C1B;
}
.testimonials-col .fa{
    color: orange;
}